
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrollbars from affecting layout */
}


.profile-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;

    
}


.info-update{
  padding: .3rem;
  height: 100vh;
    width: 25%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    font-weight: bold;
    padding-left: 30px;
    color: black;
    border-right: solid 2px black;

}

.info-update h1{
      font-size: 2.5vh;
      margin-bottom: 15px;
}

.main-picture{
    padding-left: 2rem;
    padding-top: 1rem;
    margin-bottom: 2rlh;
}

.main-picture img {
    width: 200px;
    height: 160px;
    border-radius: 50%;
    border: solid 5px rgb(0, 0, 0);

}

.form-group{
  margin-top: 2rem;
  
}

.input {
  max-width: 280px;
  height: 44px;
  background-color: white;
  border-radius: .5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.label {
  display: block;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: black;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.img-input{
  margin-top: 0.6rem;
  max-width: 280px;
  font-size: small;
  outline-width: 2px;
  background-color: white;
  border: solid 2px #242424;
}

.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
}

.input-group:hover .label, .input:focus {
  color: black;
}


.dashboard{
  width: 75%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 920px; /* Set a max height to allow scrolling */
  overflow-y: auto;
}


.update {
    padding: 10.5px 30px;
    border: 0;
    border-radius: 10%;
    background-color: #242424;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .update:hover {
    background-color: #242424;
    box-shadow: 0 0 20px #242424;
    transform: scale(1.1);
  }
  
  .update:active {
    background-color: #242424;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

  .return {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 10%;
    background-color: #c41a1a;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .return:hover {
    background-color: #c41a1a;
    box-shadow: 0 0 20px #c41a1a;
    transform: scale(1.1);
  }
  
  .return:active {
    background-color: #c41a1a;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

  