
body {
  font-family: Arial, sans-serif; 
  font-size: 16px;
  background-color: whitesmoke; 
  color: #333; 
  overflow-x: hidden; 
}

a {
  text-decoration: none;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carlist-header {
  background-color: white;
  width: 100vw;
  padding: 10px 5%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
}

.logo {
  font-size: 2rem; 
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.navbarcarlist {
  padding-right: 460px;
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  margin: auto;
}

.navbarcarlist span {
  padding: 0 1rem; 
}

.navbarcarlist a {
  position: relative;
  font-size: 1rem; 
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.navbarcarlist a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: orange;
  transition: .3s;
}

.navbarcarlist a:hover::before {
  width: 100%;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

.carlist-main-container{
  width: 100%;
  max-width: 100vw; 
  overflow-x: hidden;
  background-color: whitesmoke;
  overflow-y: scroll; 
  height: 100vh; 
  width: 100%;
}

.carlists-container {
  width: 100%;
  max-width: 100vw; 
  overflow-x: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  background-color: whitesmoke;
  padding: 20px;
}

.carlist-title {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

.carlist-filter-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}



.carlist-filter {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background-color: whitesmoke;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold;
}

.carlist-filter:hover {
  background-color: orange;
  color: black;
}

.carlist-filter.active {
  background-color: black;
  color: white;
}

.carlist-car-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 348px)); 
  gap: 2rem;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  max-height: 100vh; 
}


.picholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
  object-fit: contain;
}

.carlist-car-card {
  background-color: white; 
  border-radius: 10px;
  padding: 3rem 1.5rem 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  overflow: hidden;
  transition: background-color .6s, box-shadow 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, background-image 0.3s ease; 
}

.carlist-car-card:hover .carlist-button-check {
  transform: translateY(0); 
  opacity: 1; 
  pointer-events: initial; 
}

.carlist-car-img {
  border-radius: 10px;
  height: 150px;
  width: 250px; 
  justify-self: center;
  filter: drop-shadow(0 8px 24px rgba(0, 0, 0, 0.1)); 
  transition: transform .4s;
}

.carlist-car-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform .4s, opacity .4s;
}

.carlist-car-name {
  font-size: 1.5em; 
  font-weight: bold; 
  margin-bottom: 10px;
  color: #080808; 
}

.carlist-car-type {
  color: #080808; 
  font-size: 1em;
  margin-bottom: 5px;
}

.carlist-car-price {
  font-size: 1.2em;
  color: black; 
  font-weight: bold;
  margin-bottom: 10px;
}

.carlist-car-details {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  font-size: 16px;
  color: #080808; 
}

.carlist-car-details p {
  display: flex;
  align-items: center; 
  gap: 2px; 
  margin: 0; 
}

.carlist-icon1 {
  display: flex;
  align-items: center;
}

.carlist-car-details svg {
  font-size: 16px; 
}

.carlist-button-check {
  position: absolute;
  top: 55%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: orange; 
  color: white;
  border: none;
  padding: 12px 30px; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform .4s, opacity .4s;
  display: flex;
  align-items: center;
  justify-content: center; 
  opacity: 0; 
  pointer-events: none; 
  font-size: 1em; 
  line-height: 1.5; 
  font-weight: 600; 
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}


.carlist-button-check:hover {

  background-color: black; 
}

.carlist-car-card:hover .carlist-car-img {
  display: none;
}

.carlist-car-card:hover .carlist-car-info {
  transform: translateY(-4.5rem);
  opacity: 0; 
}



.carlist-car-card:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-1.5rem);
  background-image: url('https://images.unsplash.com/photo-1490274494753-fd4f84681e7c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGJhY2tncm91bmQlMjBjYXJ8ZW58MHx8MHx8fDA%3D');
  background-size: cover; 
  background-position: center; 
}

.carlist-car-card:hover .carlist-button-check {
  transform: translate(-50%, -2.75rem); 
  opacity: 1; 
  pointer-events: initial; 
}

.carlist-car-list::-webkit-scrollbar {
  width: 8px; 
  background-color: transparent; 
}

.carlist-car-list::-webkit-scrollbar-thumb {
  background-color: rgba(51, 51, 231, 0.5); 
  border-radius: 10px; 
}

.carlist-car-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(51, 51, 231, 0.8); 
}


.carlist-car-unavailable {
  background-color: orange;
  color: white; 
}


@media screen and (max-width: 300px) {
  .carlist-car-list {
    grid-template-columns: 1fr;
  }
}


@media screen and (min-width: 1120px) {
  .carlist-car-img {
    width: 220px; 
  }

  .carlist-car-card {
    height: 450px; 
  }
}
